<html>
<head>
<link href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://v4-alpha.getbootstrap.com/examples/narrow-jumbotron/narrow-jumbotron.css" rel="stylesheet">
</head>


  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/jenstrange/tinychain">GitHub</a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">tinychain</h3>
      </div>

      <div class="jumbotron">
        <h1 class="display-3">tinychain</h1>
        <p class="lead">Putting the rough in "<a href="https://tools.ietf.org/html/rfc7282#section-1">rough consensus</a>"</p>
        <p><a class="btn btn-lg btn-success" href="https://github.com/jenstrange/tinychain" role="button">Download Today!</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>1 Minute Block Times</h4>
          <p>10x faster than BitCoin</p>

          <h4>Solid developer community</h4>
          <p><a href="https://github.com/jamesob">jamesob</a> is our hero.</p>

          <h4>Get TINY today</h4>
          <p>Trading on many exchanges</p>
        </div>

        <div class="col-lg-6">
          <h4>Unified developer community</h4>
          <p>We don't debate. We do.</p>

          <h4>Understandable Code</h4>
          <p>No NSA backdoors.</p>

          <h4>TinyCoin Cash</h4>
          <p>Just kidding.</p>
        </div>
      </div>

      <table>
      </table>

      <footer class="footer">
        <p>The Tinychain Company &copy; 2017</p>
      </footer>

    </div> <!-- /container -->
  </body>
</html>

